<!-- Google Analytics async -->
<script>
window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
ga('create', '{{ site.google_analytics }}', 'auto');
ga('send', 'pageview');
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>

<!-- JavaScript disabled fallback -->
<noscript>
  <img src="http://www.google-analytics.com/collect?v=1&t=pageview&tid={{ site.google_analytics }}&dl={{ page.url | absolute_url }}&dt={{ page.title }}">
</noscript>